<div class="container">
<div class="row p-1 mb-2 bg-dark text-white">

  <div class="col-md-9"><h3>{{name}}</h3></div>
  <div class="col-md-3">Posted by {{user.name}} on {{format_date date_created}}</div>
  <div class="col-xs-9 p-2 mb-10 bg-light text-dark">{{description}}</div>
</div>



{{#if logged_in}}
<form class="new-comment-form">
  <div class="col-md-6 mb-3 d-flex align-items-center p-2 mb-10 bg-light text-dark">
        <textarea class="form-input" id="comment-desc" placeholder="Please leave a comment..." name="dashboard-desc"></textarea>
        <button type="submit" class="new-comment-form btn btn-primary">Comment</button>
  </div>
  </form>
  
{{/if}}

{{#each comments as |comment|}}
		<div class="comment-desc" id="comment-desc">
			<p class="text-center">{{comment.comment_content}}</p>
			<p class="text-center">Comment from {{comment.user.username}} on {{format_date date_created}}</p>
		</div>
{{/each}}
</div>
 

<script src="../js/comment.js"></script>