<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="container">
<div class="row p-1 mb-2 bg-dark text-white">
  <div class="col-md-9"><h3><a href="/post/{{post.id}}">{{post.name}}</a></h3></div> 
  <div class="col-md-3">Posted by {{post.user.name}} on {{format_date post.date_created}} </div> 
  

    <div class="col-xs-9 p-2 mb-10 bg-light text-dark">{{post.description}}</div>
  </div>
</div>
</div>

{{/each}}
